interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.regionalstatistik.de/genesisws/rest/2020/data/tablefile?area=all&format=ffcsv&language=de&name=11111-02-01-4&quality=off
  response:
    body:
      string: "Statistik_Code;Statistik_Label;Zeit_Code;Zeit_Label;Zeit;1_Merkmal_Code;1_Merkmal_Label;1_Auspraegung_Code;1_Auspraegung_Label;GEM001__Zahl_der_Gemeinden__Anzahl\n11111;Feststellung
        des Gebietsstandes;STAG;Stichtag;31.12.2022;KREISE;Kreise und kreisfreie St\xE4dte;DG;Deutschland;10786\n11111;Feststellung
        des Gebietsstandes;STAG;Stichtag;31.12.2022;KREISE;Kreise und kreisfreie St\xE4dte;01;
        \ Schleswig-Holstein;1106\n11111;Feststellung des Gebietsstandes;STAG;Stichtag;31[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.regionalstatistik.de/genesisws/rest/2020/metadata/table?area=all&format=ffcsv&language=de&name=11111-02-01-4&quality=off
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"erfolgreich\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"11111-02-01-4\",\"area\":\"Alle\",\"language\":\"de\"},\"Object\":{\"Code\":\"11111-02-01-4\",\"Content\":\"Zahl
        der Gemeinden - Stichtag 31.12. - regionale Tiefe:\\nKreise und krfr. St\xE4dte\",\"Time\":{\"From\":\"31.12.1995\",\"To\":\"31.12.2022\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"11111\",\"Content\":\"Feststellung
        des Gebietsstandes\",\"Type\":\"Statistik\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},\"Columns\":[{\"Code\":\"GEM001\",\"Content\":\"Zahl der Gemeinden\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"KREISE\",\"Content\":\"Kreise und kreisfreie
        St\xE4dte\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Subtitel\":null,\"Subheading\":{\"Code\":\"STAG\",\"Content\":\"Stichtag\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"}},\"Updated\":\"21.11.2023 13:47:55h\"},\"Copyright\":\"\xA9 Statistische
        \xC4mter des Bundes und der L\xE4nder, Deutschland, 2024.\\nDieses Werk ist
        lizenziert unter der Datenlizenz Deutschland\\n- Namensnennung - Version 2.0.\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
version: 1
