interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.regionalstatistik.de/genesisws/rest/2020/data/tablefile?area=all&format=ffcsv&language=de&name=12111-01-01-4&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"tablefile\"},\"Status\":{\"Code\":104,\"Content\":\"Es
        gibt keine Objekte zum angegebenen Selektionskriterium\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12111-01-01-4\",\"area\":\"Alle\",\"compress\":\"false\",\"transpose\":\"false\",\"startyear\":\"\",\"endyear\":\"\",\"timeslices\":\"\",\"regionalvariable\":\"\",\"regionalkey\":\"\",\"classifyingvariable1\":\"\",\"classifyingkey1\":\"\",\"classifyingvariable2\":\"\",\"classifyingkey2\":\"\",\"classifyingvariable3\":\"\",\"classifyingkey3\":\"\",\"format\":\"ffcsv\",\"job\":\"false\",\"stand\":\"\",\"language\":\"de\"},\"Object\":null,\"Copyright\":\"\xA9
        Statistische \xC4mter des Bundes und der L\xE4nder, Deutschland, 2024.\\nDieses
        Werk ist lizenziert unter der Datenlizenz Deutschland\\n- Namensnennung -
        Version 2.0.\"}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://www.regionalstatistik.de/genesisws/rest/2020/data/tablefile?area=all&format=ffcsv&language=de&name=12111-01-01-4&quality=off
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"tablefile\"},\"Status\":{\"Code\":104,\"Content\":\"Es
        gibt keine Objekte zum angegebenen Selektionskriterium\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12111-01-01-4\",\"area\":\"Alle\",\"compress\":\"false\",\"transpose\":\"false\",\"startyear\":\"\",\"endyear\":\"\",\"timeslices\":\"\",\"regionalvariable\":\"\",\"regionalkey\":\"\",\"classifyingvariable1\":\"\",\"classifyingkey1\":\"\",\"classifyingvariable2\":\"\",\"classifyingkey2\":\"\",\"classifyingvariable3\":\"\",\"classifyingkey3\":\"\",\"format\":\"ffcsv\",\"job\":\"false\",\"stand\":\"\",\"language\":\"de\"},\"Object\":null,\"Copyright\":\"\xA9
        Statistische \xC4mter des Bundes und der L\xE4nder, Deutschland, 2024.\\nDieses
        Werk ist lizenziert unter der Datenlizenz Deutschland\\n- Namensnennung -
        Version 2.0.\"}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://www.regionalstatistik.de/genesisws/rest/2020/data/tablefile?area=all&format=ffcsv&language=de&name=12111-01-01-4
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"tablefile\"},\"Status\":{\"Code\":104,\"Content\":\"Es
        gibt keine Objekte zum angegebenen Selektionskriterium\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12111-01-01-4\",\"area\":\"Alle\",\"compress\":\"false\",\"transpose\":\"false\",\"startyear\":\"\",\"endyear\":\"\",\"timeslices\":\"\",\"regionalvariable\":\"\",\"regionalkey\":\"\",\"classifyingvariable1\":\"\",\"classifyingkey1\":\"\",\"classifyingvariable2\":\"\",\"classifyingkey2\":\"\",\"classifyingvariable3\":\"\",\"classifyingkey3\":\"\",\"format\":\"ffcsv\",\"job\":\"false\",\"stand\":\"\",\"language\":\"de\"},\"Object\":null,\"Copyright\":\"\xA9
        Statistische \xC4mter des Bundes und der L\xE4nder, Deutschland, 2024.\\nDieses
        Werk ist lizenziert unter der Datenlizenz Deutschland\\n- Namensnennung -
        Version 2.0.\"}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
