interactions:
- request:
    body: area=all&compress=true&endyear=&format=ffcsv&language=de&name=12531-0043&quality=off&regionalkey=&regionalvariable=&stand=&startyear=&timeslices=&job=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"tablefile\"},\"Status\":{\"Code\":98,\"Content\":\"Die
        Tabelle ist zu gross, um im Dialog abgerufen zu werden. Bitte nutzen sie den
        Webservice mit dem Parameter job=true (REST) um eine Verarbeitung im Hintergrund
        zu starten.\",\"Type\":\"Fehler\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12531-0043\",\"area\":\"Alle\",\"compress\":\"true\",\"transpose\":\"false\",\"contents\":\"\",\"startyear\":\"\",\"endyear\":\"\",\"timeslices\":\"\",\"regionalvariable\":\"\",\"regionalkey\":\"\",\"classifyingvariable1\":\"\",\"classifyingkey1\":\"\",\"classifyingvariable2\":\"\",\"classifyingkey2\":\"\",\"classifyingvariable3\":\"\",\"classifyingkey3\":\"\",\"classifyingvariable4\":\"\",\"classifyingkey4\":\"\",\"classifyingvariable5\":\"\",\"classifyingkey5\":\"\",\"format\":\"ffcsv\",\"job\":\"false\",\"stand\":\"\",\"language\":\"de\"},\"Object\":null,\"Copyright\":\"\xA9
        Statistisches Bundesamt (Destatis), 2026\"}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: '200'
[...]
- request:
    body: selection=12531-0043_175879554&area=user&pagelength=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/results
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"results\"},\"Status\":{\"Code\":104,\"Content\":\"Es
        gibt keine Objekte zum angegebenen Selektionskriterium\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"12531-0043_175879554\",\"area\":\"Benutzer\",\"pagelength\":\"1\",\"language\":\"de\"},\"List\":null,\"Copyright\":\"\xA9
        Statistisches Bundesamt (Destatis), 2026\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: selection=12531-0043_175879554&area=user&pagelength=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/results
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"results\"},\"Status\":{\"Code\":0,\"Content\":\"erfolgreich\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"12531-0043_175879554\",\"area\":\"Benutzer\",\"pagelength\":\"1\",\"language\":\"de\"},\"List\":[{\"Code\":\"12531-0043_175879554\",\"Content\":\"Schutzsuchende:
        Kreise, Stichtag, Geschlecht,\\nSchutzstatuskategorie, Staatsangeh\xF6rigkeit\",\"Values\":\"1980160\"}],\"Copyright\":\"\xA9
        Statistisches Bundesamt (Destatis), 2026\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: area=all&compress=true&endyear=&format=ffcsv&language=de&name=12531-0043_175879554&quality=off&regionalkey=&regionalvariable=&stand=&startyear=&timeslices=&job=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/resultfile
  response:
    body:
      string: !!binary |
        UEsDBBQACAgIAEGvalwAAAAAAAAAAAAAAAAdAAAAMTI1MzEtMDA0M18xNzU4Nzk1NTRfZmxhdC5j
        c3bs[...]
