interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile?area=all&format=ffcsv&language=de&name=32161-0003&quality=False
  response:
    body:
      string: "Statistik_Code;Statistik_Label;Zeit_Code;Zeit_Label;Zeit;1_Merkmal_Code;1_Merkmal_Label;1_Auspraegung_Code;1_Auspraegung_Label;2_Merkmal_Code;2_Merkmal_Label;2_Auspraegung_Code;2_Auspraegung_Label;BETR01__Betriebe__Anzahl;ABF014__Erzeugte_Abfallmenge__1000_t;ERW012__Beschaeftigte__1000;ERF001__Erfassungsgrad_der_Betriebe__Prozent;ERF002__Erfassungsgrad_der_Beschaeftigten__Prozent\n32161;Erhebung
        \xFCber die Abfallerzeugung;JAHR;Jahr;2018;DINSG;Deutschland insgesamt;DG;Deutschland;WZ08T[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=de&name=32161-0003&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"erfolgreich\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"32161-0003\",\"area\":\"Alle\",\"language\":\"de\"},\"Object\":{\"Code\":\"32161-0003\",\"Content\":\"Betriebe,
        erzeugte Abfallmenge, Besch\xE4ftigte, Erfassungsgrad\\nder Betriebe, Erfassungsgrad
        der Besch\xE4ftigten: Deutschland,\\nJahre, Wirtschaftszweige\",\"Time\":{\"From\":\"2010\",\"To\":\"2018\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"32161\",\"Content\":\"Erhebung
        \xFCber die Abfallerzeugung\",\"Type\":\"Statistik\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"DINSG\",\"Content\":\"Deutschland
        insgesamt\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"BETR01\",\"Content\":\"Betriebe\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"ABF014\",\"Content\":\"Erzeugte Abfallmenge\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"ERW012\",\"Content\":\"Besch\xE4ftigte\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"ERF001\",\"Content\":\"Erfassungsgrad der Betriebe\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"ERF002\",\"Content\":\"Erfassungsgrad der Besch\xE4ftigten\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"WZ08T1\",\"Content\":\"WZ2008 (2-Steller):
        Abfallerzeugung\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Subtitel\":{\"Code\":\"JAHR\",\"Content\":\"Jahr\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"},\"Subheading\":null},\"Updated\":\"28.12.2022 17:46:57h\"},\"Copyright\":\"\xA9
        Statistisches Bundesamt (Destatis), 2024\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
