interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile?area=all&format=ffcsv&language=de&name=52111-0001&quality=on
  response:
    body:
      string: "Statistik_Code;Statistik_Label;Zeit_Code;Zeit_Label;Zeit;1_Merkmal_Code;1_Merkmal_Label;1_Auspraegung_Code;1_Auspraegung_Label;2_Merkmal_Code;2_Merkmal_Label;2_Auspraegung_Code;2_Auspraegung_Label;3_Merkmal_Code;3_Merkmal_Label;3_Auspraegung_Code;3_Auspraegung_Label;UNT002__Unternehmen_(EU)__Anzahl;UNT002__Unternehmen_(EU)__q\n52111;Unternehmensregister-System
        (URS);JAHR;Jahr;2021;DINSG;Deutschland insgesamt;DG;Deutschland;BESG12;Besch\xE4ftigtengr\xF6\xDFenklassen;BESAB0000B0010;0
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=de&name=52111-0001&quality=on
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"erfolgreich\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"52111-0001\",\"area\":\"Alle\",\"language\":\"de\"},\"Object\":{\"Code\":\"52111-0001\",\"Content\":\"Unternehmen
        (EU) (Unternehmensregister-System):\\nDeutschland, Jahre, Wirtschaftszweige
        (Abschnitte),\\nBesch\xE4ftigtengr\xF6\xDFenklassen\",\"Time\":{\"From\":\"2019\",\"To\":\"2021\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"52111\",\"Content\":\"Unternehmensregister-System
        (URS)\",\"Type\":\"Statistik\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"DINSG\",\"Content\":\"Deutschland
        insgesamt\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":[{\"Code\":\"UNT002\",\"Content\":\"Unternehmen
        (EU)\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"BESG12\",\"Content\":\"Besch\xE4ftigtengr\xF6\xDFenklassen\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"WZ08U6\",\"Content\":\"WZ2008 (Abschnitte):
        URS\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Subtitel\":{\"Code\":\"JAHR\",\"Content\":\"Jahr\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"},\"Subheading\":null},\"Updated\":\"28.12.2022 17:12:43h\"},\"Copyright\":\"\xA9
        Statistisches Bundesamt (Destatis), 2024\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
