interactions:
  - request:
      body: area=all&compress=false&endyear=&format=ffcsv&language=de&name=52411-02-01-4&quality=off&regionalkey=&regionalvariable=&stand=&startyear=&timeslices=&job=false
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
      method: POST
      uri: https://www.regionalstatistik.de/genesisws/rest/2020/data/tablefile
    response:
      body:
        string:
          "<!doctype html>\r\n\r\n<html lang=\"de\">\r\n<head>\r\n  <meta charset=\"utf-8\">\r\n\r\n
          \ <title></title>\r\n  <meta name=\"description\" content=\"\">\r\n  <meta
          name=\"author\" content=\"\">\r\n\r\n\t<style>\r\n@font-face {\r\n  font-family
          \  : 'Statis Sans';\r\n  src           : url( \"/error/StatisSans-Regular.woff2\"
          ) format( \"woff2\"    ),\r\n                  url( \"/error/StatisSans-Regular.ttf\"
          \  ) format( \"truetype\" );\r\n  font-weight   : 400;\r\n  font-style    :
          normal;\r\n}\r\n@font-face {\r\n  font-family   : 'Statis Sans';\r\n  src
          \          : url( \"/error/StatisSans-SemiBold.woff2\" ) format( \"woff2\"
          ),\r\n                  url( \"/error/StatisSans-SemiBold.ttf\"   ) format(
          \"truetype\" );\r\n  font-weight   : 600;\r\n  font-style    : normal;\r\n}\r\n\r\n
          \ \r\n\t* \r\n\t{\r\n\t\tmargin: 0;\r\n\t\tpadding: 0;\r\n\t\tbox-sizing:
          border-box;\r\n\t\tfont-size: 18px;\r\n\t\tcolor: rgb(54, 75, 99);\r\n\t}\r\n\r\n\thtml\r\n\t{\r\n\t\tfont-family:
          Lato, \"Lucida Grande\", Tahoma, Sans-Serif;\r\n\t}\r\n\r\n\tbody\r\n\t{\r\n\t\t/*
          padding-top: 390px; */\r\n\t\tbackground-image: url(\"data:image/svg+xml,%3C%3Fxml
          version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='1867px' height='933px' viewBox='0
          0 1867 933' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath
          14%3C/title%3E%3Cg id='GO-Pages' stroke='none' stroke-width='1' fill='none'
          fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath
          d='M6,685.512992 C58[...]
