interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ergebnisse.zensus2022.de/api/rest/2020/data/tablefile?area=all&format=ffcsv&language=de&name=6000F-1007&quality=on
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"tablefile\"},\"Status\":{\"Code\":90,\"Content\":\"Die
        angeforderte Tabelle ist nicht vorhanden. Bitte pr\xFCfen Sie den Tabellennamen
        und ggf. eingegebene Auswahlmerkmale.\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"6000F-1007\",\"area\":\"Alle\",\"compress\":\"false\",\"transpose\":\"false\",\"contents\":\"\",\"startyear\":\"\",\"endyear\":\"\",\"timeslices\":\"\",\"regionalvariable\":\"\",\"regionalkey\":\"\",\"classifyingvariable1\":\"\",\"classifyingkey1\":\"\",\"classifyingvariable2\":\"\",\"classifyingkey2\":\"\",\"classifyingvariable3\":\"\",\"classifyingkey3\":\"\",\"classifyingvariable4\":\"\",\"classifyingkey4\":\"\",\"classifyingvariable5\":\"\",\"classifyingkey5\":\"\",\"format\":\"ffcsv\",\"job\":\"false\",\"stand\":\"\",\"language\":\"de\"},\"Object\":null,\"Copyright\":\"\xA9
        Statistische \xC4mter des Bundes und der L\xE4nder, Deutschland, 2024. Lizenziert
        unter der Datenlizenz Deutschland - Namensnennung - Version 2.0\"}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"myra-7554c8ed"'
    status:
      code: 200
      message: OK
version: 1
