interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile?area=all&format=ffcsv&language=de&name=61111-0021&quality=off
  response:
    body:
      string: "Statistik_Code;Statistik_Label;Zeit_Code;Zeit_Label;Zeit;1_Merkmal_Code;1_Merkmal_Label;1_Auspraegung_Code;1_Auspraegung_Label;2_Merkmal_Code;2_Merkmal_Label;2_Auspraegung_Code;2_Auspraegung_Label;PRE034__Index_der_Nettokaltmieten__2020=100\n61111;Verbraucherpreisindex
        f\xFCr Deutschland;JAHR;Jahr;2020;DLAND;Bundesl\xE4nder;08;Baden-W\xFCrttemberg;MONAT;Monate;MONAT01;Januar;98,7\n61111;Verbraucherpreisindex
        f\xFCr Deutschland;JAHR;Jahr;2020;DLAND;Bundesl\xE4nder;08;Baden-W\xFC[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=de&name=61111-0021&quality=off
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"erfolgreich\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"61111-0021\",\"area\":\"Alle\",\"language\":\"de\"},\"Object\":{\"Code\":\"61111-0021\",\"Content\":\"Index
        der Nettokaltmieten: Bundesl\xE4nder, Monate\",\"Time\":{\"From\":\"2005\",\"To\":\"2024\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"61111\",\"Content\":\"Verbraucherpreisindex
        f\xFCr Deutschland\",\"Type\":\"Statistik\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"PRE034\",\"Content\":\"Index
        der Nettokaltmieten\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"DLAND\",\"Content\":\"Bundesl\xE4nder\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"JAHR\",\"Content\":\"Jahr\",\"Type\":\"Merkmal\",\"Values\":\"5\",\"Selected\":\"5\",\"Structure\":[{\"Code\":\"MONAT\",\"Content\":\"Monate\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Subtitel\":null,\"Subheading\":null},\"Updated\":\"28.12.2022
        11:39:13h\"},\"Copyright\":\"\xA9 Statistisches Bundesamt (Destatis), 2024\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile?area=all&format=ffcsv&language=en&name=61111-0021&quality=off
  response:
    body:
      string: "statistics_code;statistics_label;time_code;time_label;time;1_variable_code;1_variable_label;1_variable_code;1_variable_code;2_variable_code;2_variable_label;2_variable_code;2_variable_code;PRE034__Index_of_net_rents_exclusive_of_heating_expenses__2020=100\n61111;Consume[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=en&name=61111-0021&quality=off
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"61111-0021\",\"area\":\"all\",\"[...]
