interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.regionalstatistik.de/genesisws/rest/2020/data/tablefile?area=all&format=ffcsv&language=de&name=61511-01-03-4&quality=off
  response:
    body:
      string: "Statistik_Code;Statistik_Label;Zeit_Code;Zeit_Label;Zeit;1_Merkmal_Code;1_Merkmal_Label;1_Auspraegung_Code;1_Auspraegung_Label;2_Merkmal_Code;2_Merkmal_Label;2_Auspraegung_Code;2_Auspraegung_Label;BAU001__Veraeusserungsfaelle_von_Bauland__Anzahl;BAU002__Veraeusserte_Baulandflaeche__1000_qm;BAU003__Kaufsumme__Tsd._EUR;BAU004__Durchschnittlicher_Kaufwert_je_qm__EUR\n61511;Statistik
        der Kaufwerte f\xFCr Bauland;JAHR;Jahr;2023;KREISE;Kreise und kreisfreie St\xE4dte;DG;Deutschland;BAUNW2;Ba[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.regionalstatistik.de/genesisws/rest/2020/metadata/table?area=all&format=ffcsv&language=de&name=61511-01-03-4&quality=off
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"erfolgreich\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"61511-01-03-4\",\"area\":\"Alle\",\"language\":\"de\"},\"Object\":{\"Code\":\"61511-01-03-4\",\"Content\":\"Ver\xE4u\xDFerungsf\xE4lle,
        ver\xE4u\xDFerte Fl\xE4che, Kaufsumme,\\ndurchschnittlicher Kaufwert nach
        Baulandarten - Jahressumme\\n- regionale Tiefe: Kreise und krfr. St\xE4dte\",\"Time\":{\"From\":\"1995\",\"To\":\"2023\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"61511\",\"Content\":\"Kaufwerte
        f\xFCr Bauland\",\"Type\":\"Statistik\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},\"Columns\":[{\"Code\":\"BAUNW2\",\"Content\":\"Baulandverk\xE4ufe\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"KREISE\",\"Content\":\"Kreise und kreisfreie
        St\xE4dte\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"BAU001\",\"Content\":\"Ver\xE4u\xDFerungsf\xE4lle
        von Bauland\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"BAU002\",\"Content\":\"Ver\xE4u\xDFerte Baulandfl\xE4che\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"BAU003\",\"Content\":\"Kaufsumme\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"BAU004\",\"Content\":\"Durchschnittlicher Kaufwert je
        qm\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Subtitel\":null,\"Subheading\":{\"Code\":\"JAHR\",\"Content\":\"Jahr\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"}},\"Updated\":\"10.03.2023 09:47:28h\"},\"Copyright\":\"\xA9 Statistische
        \xC4mter des Bundes und der L\xE4nder, Deutschland, 2024.\\nDieses Werk ist
        lizenziert unter der Datenlizenz Deutschland\\n- Namensnennung - Version 2.0.\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
version: 1
