interactions:
- request:
    body: area=all&compress=false&endyear=&format=ffcsv&language=de&name=63121-0001&quality=off&regionalkey=&regionalvariable=&stand=&startyear=&timeslices=&job=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"tablefile\"},\"Status\":{\"Code\":104,\"Content\":\"Es
        gibt keine Objekte zum angegebenen Selektionskriterium\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"63121-0001\",\"area\":\"Alle\",\"compress\":\"false\",\"transpose\":\"false\",\"contents\":\"\",\"startyear\":\"\",\"endyear\":\"\",\"timeslices\":\"\",\"regionalvariable\":\"\",\"regionalkey\":\"\",\"classifyingvariable1\":\"\",\"classifyingkey1\":\"\",\"classifyingvariable2\":\"\",\"classifyingkey2\":\"\",\"classifyingvariable3\":\"\",\"classifyingkey3\":\"\",\"classifyingvariable4\":\"\",\"classifyingkey4\":\"\",\"classifyingvariable5\":\"\",\"classifyingkey5\":\"\",\"format\":\"ffcsv\",\"job\":\"false\",\"stand\":\"\",\"language\":\"de\"},\"Object\":null,\"Copyright\":\"\xA9
        Statistisches Bundesamt (Destatis), 2026\"}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: '200'
[...]
- request:
    body: area=all&compress=false&endyear=&format=ffcsv&language=en&name=63121-0001&quality=off&regionalkey=&regionalvariable=&stand=&startyear=&timeslices=&job=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"tablefile\"},\"Status\":{\"Code\":104,\"Content\":\"There
        are no objects matching your selection.\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"63121-0001\",\"area\":\"all\",\"compress\":\"false\",\"transpose\":\"false\",\"contents\":\"\",\"startyear\":\"\",\"endyear\":\"\",\"timeslices\":\"\",\"regionalvariable\":\"\",\"regionalkey\":\"\",\"classifyingvariable1\":\"\",\"classifyingkey1\":\"\",\"classifyingvariable2\":\"\",\"classifyingkey2\":\"\",\"classifyingvariable3\":\"\",\"classifyingkey3\":\"\",\"classifyingvariable4\":\"\",\"classifyingkey4\":\"\",\"classifyingvariable5\":\"\",\"classifyingkey5\":\"\",\"format\":\"ffcsv\",\"job\":\"false\",\"stand\":\"\",\"language\":\"en\"},\"Object\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2026\"}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: '200'
version: 1
