interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=de&name=71311-0001&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"erfolgreich\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"71311-0001\",\"area\":\"Alle\",\"language\":\"de\"},\"Object\":{\"Code\":\"71311-0001\",\"Content\":\"Schulden
        beim nicht-\xF6ffentlichen Bereich: Deutschland,\\nStichtag zum Quartalsende,
        Ebenen des \xF6ffentlichen\\nGesamthaushalts, Haushalte, Schuldenarten\",\"Time\":{\"From\":\"31.03.2016\",\"To\":\"31.12.2023\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"71311\",\"Content\":\"Viertelj\xE4hrl.
        Schulden d. \xF6ffentl. Gesamthaushalts\",\"Type\":\"Statistik\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"DINSG\",\"Content\":\"Deutschland
        insgesamt\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":[{\"Code\":\"SLD016\",\"Content\":\"Schulden
        beim nicht-\xF6ffentlichen Bereich\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"STAGV\",\"Content\":\"Stichtag
        zum Quartalsende\",\"Type\":\"Merkmal\",\"Values\":\"10\",\"Selected\":\"10\",\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"KRPGR8\",\"Content\":\"Ebenen des \xF6ffentlichen
        Gesamthaushalts\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"HSHAT1\",\"Content\":\"Haushalte\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"SLDAT4\",\"Content\":\"Schuldenarten\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Updated\":\"see parent\"}],\"Subtitel\":null,\"Subheading\":null},\"Updated\":\"28.12.2022
        19:08:33h\"},\"Copyright\":\"\xA9 Statistisches Bundesamt (Destatis), 2024\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
