interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile?area=all&format=ffcsv&language=de&name=71311-0001&quality=False
  response:
    body:
      string: "Statistik_Code;Statistik_Label;Zeit_Code;Zeit_Label;Zeit;1_Merkmal_Code;1_Merkmal_Label;1_Auspraegung_Code;1_Auspraegung_Label;2_Merkmal_Code;2_Merkmal_Label;2_Auspraegung_Code;2_Auspraegung_Label;3_Merkmal_Code;3_Merkmal_Label;3_Auspraegung_Code;3_Auspraegung_Label;4_Merkmal_Code;4_Merkmal_Label;4_Auspraegung_Code;4_Auspraegung_Label;SLD016__Schulden_beim_nicht-oeffentlichen_Bereich__Mill._EUR\n71311;Viertelj\xE4hrl.
        Schulden d. \xF6ffentl. Gesamthaushalts;STAGV;Stichtag zum Quartalse[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=de&name=71311-0001&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"erfolgreich\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"71311-0001\",\"area\":\"Alle\",\"language\":\"de\"},\"Object\":{\"Code\":\"71311-0001\",\"Content\":\"Schulden
        beim nicht-\xF6ffentlichen Bereich: Deutschland,\\nStichtag zum Quartalsende,
        Ebenen des \xF6ffentlichen\\nGesamthaushalts, Haushalte, Schuldenarten\",\"Time\":{\"From\":\"31.03.2016\",\"To\":\"31.03.2024\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"71311\",\"Content\":\"Viertelj\xE4hrl.
        Schulden d. \xF6ffentl. Gesamthaushalts\",\"Type\":\"Statistik\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"DINSG\",\"Content\":\"Deutschland
        insgesamt\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":[{\"Code\":\"SLD016\",\"Content\":\"Schulden
        beim nicht-\xF6ffentlichen Bereich\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"STAGV\",\"Content\":\"Stichtag
        zum Quartalsende\",\"Type\":\"Merkmal\",\"Values\":\"10\",\"Selected\":\"10\",\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"KRPGR8\",\"Content\":\"Ebenen des \xF6ffentlichen
        Gesamthaushalts\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"HSHAT1\",\"Content\":\"Haushalte\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"SLDAT4\",\"Content\":\"Schuldenarten\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Updated\":\"see parent\"}],\"Subtitel\":null,\"Subheading\":null},\"Updated\":\"28.12.2022
        19:08:33h\"},\"Copyright\":\"\xA9 Statistisches Bundesamt (Destatis), 2024\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile?area=all&format=ffcsv&language=en&name=71311-0001&quality=False
  response:
    body:
      string: "statistics_code;statistics_label;time_code;time_label;time;1_variable_code;1_variable_label;1_variable_code;1_variable_code;2_variable_code;2_variable_label;2_variable_code;2_variable_code;3_variable_code;3_variable_label;3_variable_code;3_variable_code;4_variable_cod[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=en&name=71311-0001&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"71311-0001\",\"area\":\"all\",[...]
