interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.regionalstatistik.de/genesisws/rest/2020/data/tablefile?area=all&format=ffcsv&language=de&name=86121-Z-01&quality=off
  response:
    body:
      string: "Statistik_Code;Statistik_Label;Zeit_Code;Zeit_Label;Zeit;1_Merkmal_Code;1_Merkmal_Label;1_Auspraegung_Code;1_Auspraegung_Label;2_Merkmal_Code;2_Merkmal_Label;2_Auspraegung_Code;2_Auspraegung_Label;ID0005__Haushaltsabfaelle__1000_t;ID0006__Haushaltsabfaelle,_Index_(2010=100)__2010=100;ID0007__Haushaltsabfaelle,_Anteil_an_Deutschland__Prozent\n86121;Abfallrechnungen;JAHR;Jahr;2022;DLANDU;Bundesl\xE4nder;DG;Deutschland;ABFA02;Haushaltsabf\xE4lle;INSGESAMT;Insgesamt;36959,9;100,5;100,0\n86121;Abfa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.regionalstatistik.de/genesisws/rest/2020/metadata/table?area=all&format=ffcsv&language=de&name=86121-Z-01&quality=off
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"erfolgreich\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"86121-Z-01\",\"area\":\"Alle\",\"language\":\"de\"},\"Object\":{\"Code\":\"86121-Z-01\",\"Content\":\"Haushaltsabf\xE4lle
        nach Art der Abf\xE4lle - Jahr - regionale\\nTiefe: Bundesl\xE4nder\",\"Time\":{\"From\":\"1990\",\"To\":\"2022\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"86121\",\"Content\":\"Abfallrechnungen\",\"Type\":\"Statistik\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},\"Columns\":[{\"Code\":\"ABFA02\",\"Content\":\"Haushaltsabf\xE4lle\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"DLANDU\",\"Content\":\"Bundesl\xE4nder\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"ABFALL1A\",\"Content\":\"Haushaltsabf\xE4lle\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"ABFALL1B\",\"Content\":\"Haushaltsabf\xE4lle, Index
        (2010=100)\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"ABFALL1C\",\"Content\":\"Haushaltsabf\xE4lle, Anteil
        an Deutschland\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Subtitel\":{\"Code\":\"JAHR\",\"Content\":\"Jahr\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},\"Subheading\":null},\"Updated\":\"23.09.2024 14:53:41h\"},\"Copyright\":\"\xA9
        Statistische \xC4mter des Bundes und der L\xE4nder, Deutschland, 2024.\\nDieses
        Werk ist lizenziert unter der Datenlizenz Deutschland\\n- Namensnennung -
        Version 2.0.\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
version: 1
