interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.regionalstatistik.de/genesisws/rest/2020/metadata/table?area=all&format=ffcsv&language=de&name=AI-N-01-2-5&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"erfolgreich\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"AI-N-01-2-5\",\"area\":\"Alle\",\"language\":\"de\"},\"Object\":{\"Code\":\"AI-N-01-2-5\",\"Content\":\"Regionalatlas
        Deutschland Themenbereich \\\"Nachhaltigkeit\\\" Indikatoren zu \\\"Fl\xE4chennutzung
        nach ALKIS\\\" (Gemeindeebene ab 2016)\",\"Time\":{\"From\":\"2016\",\"To\":\"2022\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"99910\",\"Content\":\"Regionalatlas
        Deutschland\",\"Type\":\"Statistik\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},\"Columns\":[{\"Code\":\"AI0111\",\"Content\":\"Anteil Siedlungs-
        und Verkehrsfl\xE4che an Gesamtfl\xE4che\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"AI0112\",\"Content\":\"Ver\xE4nderung der Siedlungs-
        und Verkehrsfl\xE4che\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"GEMEIN\",\"Content\":\"Gemeinden\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Subtitel\":null,\"Subheading\":{\"Code\":\"JAHR\",\"Content\":\"Jahr\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"}},\"Updated\":\"04.04.2022 08:31:04h\"},\"Copyright\":\"\xA9 Statistische
        \xC4mter des Bundes und der L\xE4nder, Deutschland, 2024.\\nDieses Werk ist
        lizenziert unter der Datenlizenz Deutschland\\n- Namensnennung - Version 2.0.\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
version: 1
