interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile?area=all&format=ffcsv&language=de&name=12211-0001&quality=False
  response:
    body:
      string: "Statistik_Code;Statistik_Label;Zeit_Code;Zeit_Label;Zeit;1_Merkmal_Code;1_Merkmal_Label;1_Auspraegung_Code;1_Auspraegung_Label;2_Merkmal_Code;2_Merkmal_Label;2_Auspraegung_Code;2_Auspraegung_Label;3_Merkmal_Code;3_Merkmal_Label;3_Auspraegung_Code;3_Auspraegung_Label;BEV036__Bevoelkerung_in_Hauptwohnsitzhaushalten__1000;ERW041__Erwerbstaetige_aus_Hauptwohnsitzhaushalten__1000;ERW042__Erwerbslose_aus_Hauptwohnsitzhaushalten__1000;ERW040__Erwerbspersonen_aus_Hauptwohnsitzhaushalten__1000;ERW043__[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=de&name=12211-0001&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"erfolgreich\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12211-0001\",\"area\":\"Alle\",\"language\":\"de\"},\"Object\":{\"Code\":\"12211-0001\",\"Content\":\"Bev\xF6lkerung,
        Erwerbst\xE4tige, Erwerbslose, Erwerbspersonen, Nichterwerbspersonen aus Hauptwohnsitzhaushalten:
        Deutschland, Jahre, Geschlecht, Altersgruppen\",\"Time\":{\"From\":\"2020\",\"To\":\"2023\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"12211\",\"Content\":\"Mikrozensus\",\"Type\":\"Statistik\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"DINSG\",\"Content\":\"Deutschland
        insgesamt\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"BEV036\",\"Content\":\"Bev\xF6lkerung
        in Hauptwohnsitzhaushalten\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"ERW041\",\"Content\":\"Erwerbst\xE4tige aus Hauptwohnsitzhaushalten\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"ERW042\",\"Content\":\"Erwerbslose aus Hauptwohnsitzhaushalten\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"ERW040\",\"Content\":\"Erwerbspersonen aus Hauptwohnsitzhaushalten\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"ERW043\",\"Content\":\"Nichterwerbspersonen aus Hauptwohnsitzhaushalten\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"GES\",\"Content\":\"Geschlecht\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"ALT068\",\"Content\":\"Altersgruppen
        (u15-75m)\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Subtitel\":{\"Code\":\"JAHR\",\"Content\":\"Jahr\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"},\"Subheading\":null},\"Updated\":\"28.12.2022 09:26:09h\"},\"Copyright\":\"\xA9
        Statistisches Bundesamt (Destatis), 2024\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
