interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile?area=all&format=ffcsv&language=en&name=13111-0005&quality=False
  response:
    body:
      string: "statistics_code;statistics_label;time_code;time_label;time;1_variable_code;1_variable_label;1_variable_code;1_variable_code;2_variable_code;2_variable_label;2_variable_code;2_variable_code;ERW065__Employees_subj._to_social_insur._at_place_of_work__number\n13111;Employees
        subj. to social insurance contributions;STAG;Reference date;2021-12-31;DLAND;L\xE4nder;08;Baden-W\xFCrttemberg;GES;Sex;GESM;Male;2640998\n13111;Employees
        subj. to social insurance contributions;STAG;Reference d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=en&name=13111-0005&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"13111-0005\",\"area\":\"all\",\"language\":\"en\"},\"Object\":{\"Code\":\"13111-0005\",\"Content\":\"Employees
        subject to social insurance contributions at their\\nplace of work: L\xE4nder,
        reference date, sex\",\"Time\":{\"From\":\"2008-03-31\",\"To\":\"2023-09-30\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"13111\",\"Content\":\"Employees
        subj. to social insurance contributions\",\"Type\":\"statistic\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"ERW065\",\"Content\":\"Employees
        subj. to social insur. at place of work\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"STAG\",\"Content\":\"Reference
        date\",\"Type\":\"variable\",\"Values\":\"8\",\"Selected\":\"8\",\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"GES\",\"Content\":\"Sex\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Subtitel\":{\"Code\":\"DLAND\",\"Content\":\"L\xE4nder\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},\"Subheading\":null},\"Updated\":\"2022-12-28 17:14:03h\"},\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2024\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
