interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile?area=all&format=ffcsv&language=en&name=23111-0001&quality=False
  response:
    body:
      string: 'statistics_code;statistics_label;time_code;time_label;time;1_variable_code;1_variable_label;1_variable_code;1_variable_code;GES024__Hospitals__number;BTT001__Beds__number;BTT010__Beds_per_100_000_inhabitants__number;GES020__Patients__number;GES053__Patients_per_100_000_inhabitants__number;GES052__Occupancy_/_billing_days__1000;GES012__Average_length_of_stay__days;BTT004__Average_occupancy_of_hospital_beds__percent

        23111;Basic data on hospitals;JAHR;Year;1991;DINSG;Germany;DG;Germany;2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=en&name=23111-0001&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"23111-0001\",\"area\":\"all\",\"language\":\"en\"},\"Object\":{\"Code\":\"23111-0001\",\"Content\":\"Hospitals,
        beds, patients: Germany, years\",\"Time\":{\"From\":\"1991\",\"To\":\"2022\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"23111\",\"Content\":\"Basic
        data on hospitals\",\"Type\":\"statistic\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"DINSG\",\"Content\":\"Germany\",\"Type\":\"variable\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"GES024\",\"Content\":\"Hospitals\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"BTT001\",\"Content\":\"Beds\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"BTT010\",\"Content\":\"Beds per 100 000 inhabitants\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"GES020\",\"Content\":\"Patients\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"GES053\",\"Content\":\"Patients per 100 000 inhabitants\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"GES052\",\"Content\":\"Occupancy / billing days\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"GES012\",\"Content\":\"Average length of stay\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"BTT004\",\"Content\":\"Average occupancy of hospital
        beds\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"JAHR\",\"Content\":\"Year\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Subtitel\":null,\"Subheading\":null},\"Updated\":\"2022-12-28
        17:30:45h\"},\"Copyright\":\"\xA9 Federal Statistical Office, Wiesbaden 2024\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
