interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile?area=all&format=ffcsv&language=en&name=32161-0003&quality=False
  response:
    body:
      string: 'statistics_code;statistics_label;time_code;time_label;time;1_variable_code;1_variable_label;1_variable_code;1_variable_code;2_variable_code;2_variable_label;2_variable_code;2_variable_code;BETR01__Local_units__number;ABF014__Quantity_of_waste_produced__1000_t;ERW012__Persons_employed__1000;ERF001__Coverage_of_local_units__percent;ERF002__Coverage_of_persons_employed__percent

        32161;Survey of waste production;JAHR;Year;2018;DINSG;Germany;DG;Germany;WZ08T1;WZ2008
        (2-digit codes):[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=en&name=32161-0003&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"32161-0003\",\"area\":\"all\",\"language\":\"en\"},\"Object\":{\"Code\":\"32161-0003\",\"Content\":\"Local
        units, quantity of waste produced, persons employed,\\ncoverage of local units,
        coverage of persons employed:\\nGermany, years, economic activities\",\"Time\":{\"From\":\"2010\",\"To\":\"2018\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"32161\",\"Content\":\"Survey
        of waste production\",\"Type\":\"statistic\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"DINSG\",\"Content\":\"Germany\",\"Type\":\"variable\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"BETR01\",\"Content\":\"Local
        units\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"ABF014\",\"Content\":\"Quantity of waste produced\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"ERW012\",\"Content\":\"Persons employed\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"ERF001\",\"Content\":\"Coverage of local units\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"ERF002\",\"Content\":\"Coverage of persons employed\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"WZ08T1\",\"Content\":\"WZ2008 (2-digit codes):
        Waste production\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Subtitel\":{\"Code\":\"JAHR\",\"Content\":\"Year\",\"Type\":\"variable\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"},\"Subheading\":null},\"Updated\":\"2022-12-28 17:46:57h\"},\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2024\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
