interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile?area=all&format=ffcsv&language=en&name=46181-0001&quality=False
  response:
    body:
      string: 'statistics_code;statistics_label;time_code;time_label;time;1_variable_code;1_variable_label;1_variable_code;1_variable_code;2_variable_code;2_variable_label;2_variable_code;2_variable_code;3_variable_code;3_variable_label;3_variable_code;3_variable_code;VER013__Passengers_carried__number;GUT004__Transport_performance__Person-km

        46181;Passenger transport by bus, coach and rail;JAHR;Year;2021;DINSG;Germany;DG;Germany;VERAT5;Type
        of transport;VERLINFERNOBUS;Regular long-dist. tra[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=en&name=46181-0001&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"46181-0001\",\"area\":\"all\",\"language\":\"en\"},\"Object\":{\"Code\":\"46181-0001\",\"Content\":\"Passengers
        carried, transport performance (passenger\\nlong-distance transport by bus):
        Germany, years,\\ntype of transport, main traffic relation\",\"Time\":{\"From\":\"2004\",\"To\":\"2022\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"46181\",\"Content\":\"Passenger
        transport by bus, coach and rail\",\"Type\":\"statistic\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"DINSG\",\"Content\":\"Germany\",\"Type\":\"variable\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"VER013\",\"Content\":\"Passengers
        carried\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"GUT004\",\"Content\":\"Transport performance\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"VERAT5\",\"Content\":\"Type of transport\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"VERVZ4\",\"Content\":\"Main
        traffic relation\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Subtitel\":{\"Code\":\"JAHR\",\"Content\":\"Year\",\"Type\":\"variable\",\"Values\":\"2\",\"Selected\":\"2\",\"Structure\":null,\"Updated\":\"see
        parent\"},\"Subheading\":null},\"Updated\":\"2022-12-28 17:13:08h\"},\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2024\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
