interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile?area=all&format=ffcsv&language=en&name=51000-0010&quality=False
  response:
    body:
      string: 'statistics_code;statistics_label;time_code;time_label;time;1_variable_code;1_variable_label;1_variable_code;1_variable_code;2_variable_code;2_variable_label;2_variable_code;2_variable_code;3_variable_code;3_variable_label;3_variable_code;3_variable_code;GEWA__Exports:_Net_mass__t;WERTA__Exports:_Value__Tsd._EUR;WERTAS__Exports:_Value_(US-Dollar)__Tsd._US_$;GEWE__Imports:_Net_mass__t;WERTE__Imports:_Value__Tsd._EUR;WERTES__Imports:_Value_(US-Dollar)__Tsd._US_$

        51000;Foreign trade;JAHR;[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=en&name=51000-0010&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"51000-0010\",\"area\":\"all\",\"language\":\"en\"},\"Object\":{\"Code\":\"51000-0010\",\"Content\":\"Exports
        and imports (foreign trade): Germany, years,\\ncommodity (4-/6-digit codes),
        countries\",\"Time\":{\"From\":\"2008\",\"To\":\"2023\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"51000\",\"Content\":\"Foreign
        trade\",\"Type\":\"statistic\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"DINSG\",\"Content\":\"Germany\",\"Type\":\"variable\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":[{\"Code\":\"WAM4\",\"Content\":\"Commodity
        Class. Foreign Trade Stat.(4-digit cod.)\",\"Type\":\"variable\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"GEWA\",\"Content\":\"Exports:
        Net mass\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"WERTA\",\"Content\":\"Exports: Value\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"WERTAS\",\"Content\":\"Exports: Value (US-Dollar)\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"GEWE\",\"Content\":\"Imports: Net mass\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"WERTE\",\"Content\":\"Imports: Value\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"WERTES\",\"Content\":\"Imports: Value (US-Dollar)\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"STLAH\",\"Content\":\"Country Nomenclature
        for External Trade Statistics\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Subtitel\":{\"Code\":\"JAHR\",\"Content\":\"Year\",\"Type\":\"variable\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"},\"Subheading\":null},\"Updated\":\"2022-12-28 17:13:16h\"},\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2024\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
