interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile?area=all&format=ffcsv&language=en&name=61111-0021&quality=False
  response:
    body:
      string: "statistics_code;statistics_label;time_code;time_label;time;1_variable_code;1_variable_label;1_variable_code;1_variable_code;2_variable_code;2_variable_label;2_variable_code;2_variable_code;PRE034__Index_of_net_rents_exclusive_of_heating_expenses__2020=100\n61111;Consumer
        price index for Germany;JAHR;Year;2020;DLAND;L\xE4nder;08;Baden-W\xFCrttemberg;MONAT;Months;MONAT01;January;98.7\n61111;Consumer
        price index for Germany;JAHR;Year;2020;DLAND;L\xE4nder;08;Baden-W\xFCrttemberg;MO[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=en&name=61111-0021&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"61111-0021\",\"area\":\"all\",\"language\":\"en\"},\"Object\":{\"Code\":\"61111-0021\",\"Content\":\"Index
        of net rents exclusive of heating expenses:\\nL\xE4nder, months\",\"Time\":{\"From\":\"2005\",\"To\":\"2024\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"61111\",\"Content\":\"Consumer
        price index for Germany\",\"Type\":\"statistic\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"PRE034\",\"Content\":\"Index
        of net rents exclusive of heating expenses\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"DLAND\",\"Content\":\"L\xE4nder\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"JAHR\",\"Content\":\"Year\",\"Type\":\"variable\",\"Values\":\"5\",\"Selected\":\"5\",\"Structure\":[{\"Code\":\"MONAT\",\"Content\":\"Months\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Subtitel\":null,\"Subheading\":null},\"Updated\":\"2022-12-28
        11:39:13h\"},\"Copyright\":\"\xA9 Federal Statistical Office, Wiesbaden 2024\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
