interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/tablefile?area=all&format=ffcsv&language=en&name=71311-0001&quality=False
  response:
    body:
      string: "statistics_code;statistics_label;time_code;time_label;time;1_variable_code;1_variable_label;1_variable_code;1_variable_code;2_variable_code;2_variable_label;2_variable_code;2_variable_code;3_variable_code;3_variable_label;3_variable_code;3_variable_code;4_variable_code;4_variable_label;4_variable_code;4_variable_code;SLD016__Debts_owed_to_the_non-public_sector__Mill._EUR\n71311;Quarterly
        debt of the overall public budget;STAGV;Reference date end-of-quarter;2021-09-30;DINSG;Germany;DG;G[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=en&name=71311-0001&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"71311-0001\",\"area\":\"all\",\"language\":\"en\"},\"Object\":{\"Code\":\"71311-0001\",\"Content\":\"Debts
        owed to the non-public sector: Germany, reference date\\nend-of-quarter, levels
        of the overall public budget,\\nbudgets, types of debts\",\"Time\":{\"From\":\"2016-03-31\",\"To\":\"2023-12-31\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"71311\",\"Content\":\"Quarterly
        debt of the overall public budget\",\"Type\":\"statistic\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"DINSG\",\"Content\":\"Germany\",\"Type\":\"variable\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":[{\"Code\":\"SLD016\",\"Content\":\"Debts
        owed to the non-public sector\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"STAGV\",\"Content\":\"Reference
        date end-of-quarter\",\"Type\":\"variable\",\"Values\":\"10\",\"Selected\":\"10\",\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"KRPGR8\",\"Content\":\"Levels of the overall
        public budget\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"HSHAT1\",\"Content\":\"Budgets\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"SLDAT4\",\"Content\":\"Types
        of debts\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Updated\":\"see parent\"}],\"Subtitel\":null,\"Subheading\":null},\"Updated\":\"2022-12-28
        19:08:33h\"},\"Copyright\":\"\xA9 Federal Statistical Office, Wiesbaden 2024\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
