interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&format=ffcsv&language=de&name=51000-0010&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"erfolgreich\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"51000-0010\",\"area\":\"Alle\",\"language\":\"de\"},\"Object\":{\"Code\":\"51000-0010\",\"Content\":\"Aus-
        und Einfuhr (Au\xDFenhandel): Deutschland, Jahre,\\nWare (4-/6-Steller), L\xE4nder\",\"Time\":{\"From\":\"2008\",\"To\":\"2023\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"51000\",\"Content\":\"Au\xDFenhandel\",\"Type\":\"Statistik\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"DINSG\",\"Content\":\"Deutschland
        insgesamt\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":[{\"Code\":\"WAM4\",\"Content\":\"Warenverzeichnis
        Au\xDFenhandelsstatistik (4-Steller)\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"GEWA\",\"Content\":\"Ausfuhr:
        Gewicht\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"WERTA\",\"Content\":\"Ausfuhr: Wert\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"WERTAS\",\"Content\":\"Ausfuhr: Wert (US-Dollar)\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"GEWE\",\"Content\":\"Einfuhr: Gewicht\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"WERTE\",\"Content\":\"Einfuhr: Wert\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"},{\"Code\":\"WERTES\",\"Content\":\"Einfuhr: Wert (US-Dollar)\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"STLAH\",\"Content\":\"L\xE4nderverzeichnis
        f\xFCr die Au\xDFenhandelsstatistik\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Subtitel\":{\"Code\":\"JAHR\",\"Content\":\"Jahr\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"},\"Subheading\":null},\"Updated\":\"28.12.2022 17:13:16h\"},\"Copyright\":\"\xA9
        Statistisches Bundesamt (Destatis), 2024\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
