interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.regionalstatistik.de/genesisws/rest/2020/metadata/table?area=all&format=ffcsv&language=de&name=21311-01-01-4-B&quality=False
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"erfolgreich\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"21311-01-01-4-B\",\"area\":\"Alle\",\"language\":\"de\"},\"Object\":{\"Code\":\"21311-01-01-4-B\",\"Content\":\"Studierende
        nach Geschlecht, Nationalit\xE4t und\\nF\xE4chergruppen - regionale Ebenen\",\"Time\":{\"From\":\"WS
        2015/16\",\"To\":\"WS 2021/22\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"21311\",\"Content\":\"Statistik
        der Studenten\",\"Type\":\"Statistik\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"HS-W02\",\"Content\":\"Studierende
        (im Kreisgebiet)\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"SEMEST\",\"Content\":\"Semester\",\"Type\":\"Merkmal\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":[{\"Code\":\"GESINS\",\"Content\":\"Geschlecht\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"NAT01\",\"Content\":\"Nationalit\xE4t
        (inkl. insgesamt)\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Updated\":\"see parent\"}],\"Rows\":[{\"Code\":\"KREISE\",\"Content\":\"Kreise
        und kreisfreie St\xE4dte\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"HS-FG2\",\"Content\":\"F\xE4chergruppe
        (mit Insgesamt)\",\"Type\":\"Merkmal\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"}],\"Subtitel\":null,\"Subheading\":null},\"Updated\":\"19.07.2023
        10:37:50h\"},\"Copyright\":\"\xA9 Statistische \xC4mter des Bundes und der
        L\xE4nder, Deutschland, 2024.\\nDieses Werk ist lizenziert unter der Datenlizenz
        Deutschland\\n- Namensnennung - Version 2.0.\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: ''
version: 1
